<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <form action='/user' method="POST">

      username: <input type="text" name="username" autofocus>    
      password: <input type="password" name="password">
      <input type="submit" value="log in">
    </form>
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
