<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <form action='/room' method="POST">
      email: <input type="email" name="email" autofocus>    
      password: <input type="password" name="password" minlength=6>
      <input type="submit" value="log in">
    </form>
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
