<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <div>
      <form action="/signup" method="POST">
      email: <input type="email" name="email" placeholder="e-mail address" autofocus required>    
      password: <input type="password" name="password" placeholder="password" minlength=6 required>
      <input type="submit" value="sign up">
    </form>
    </div>
      
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
